@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Satoshi', sans-serif;
  background-color: #0F1D35;
  color: #F5F7FA;
  -webkit-font-smoothing: antialiased;
}
